@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Poppins', sans-serif;
}
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms !important;
}

/* For webkit based browsers */
::-webkit-scrollbar {
  width: 0px;
}

/* For the track */
::-webkit-scrollbar-track {
  background: #171717;
}

/* For the thumb */
::-webkit-scrollbar-thumb {
  background: #F7F1F4;
}

/* For the thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c2bfc0;
}

.fadeInBlur{
  animation-name: fadeBlur;
  animation-timing-function: cubic-bezier(0.11, 0, 0.5, 0);
  animation-fill-mode: forwards;
  animation-duration: .2s;
  animation-iteration-count: 1;

}
@keyframes fadeBlur {
  0%{opacity: 0;filter: blur(5px);}
  100%{opacity: 1;filter: blur(0px);}
}  
.hoverSmooth {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}
.hoverSmooth:hover {
  letter-spacing: 2px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}
